.ronde-afbeelding {
    border-radius: 20px;
    height: auto;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 200px;
    flex-flow: row wrap;
    display: flex;
    transition: all 150ms ease-in-out;
}
.ronde-afbeelding:hover {
    box-shadow: 0px 8px 30px #000000;
    width: 200px; height: auto;

}
h2, h3 {
    text-align: center;
}
.Hoofd-titel {
    text-align: center;
}
P {
    text-align: center;
}
.flex-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-list li {
    text-align: center;
    list-style-position: inside;
}