.profiel {
    width: 80%;
    background-color: #B9D6F2;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}
.about-tekst{
    flex: 1;
}
.ronde-afbeelding {
    float: left;
    margin: 0 1rem 1rem 0;
    border-radius: 20px;
    height: auto;
    object-fit: cover;
    width: 200px;
    flex-flow: row wrap;
    display: flex;
    transition: all 150ms ease-in-out;
}
.ronde-afbeelding:hover {
    box-shadow: 0px 8px 30px #000000;
    width: 200px; height: auto;

}
h2, h3 {
    text-align: center;
}
P {
    text-align: center;
}
.flex-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-list li {
    text-align: center;
    list-style-position: inside;
}
