header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #E98A15;
    color: white;
}
header .logo {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 2rem;
}
nav {
    display: flex;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s ease;
}
nav a:hover {
    color: #fcbb60;
    text-decoration: none;
}
h1 {
    text-align: center;
}
.container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    border-radius: 15px;
    margin: 40px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}
.left h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
.left p {
    max-width: 600px;
    font-size: 1.2rem;
}
.foto-evan {
    display: flex;
    float: right;
    margin: 2rem;
    border-radius: 25px;

}
.foto-evan:hover {
    box-shadow: 0 5px 15px #000000;
    transition: box-shadow 0.3s ease;
}
  footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 40px;
      background-color: #E98A15;
      color: white;
}
footer .logo {
    flex: 1;
    text-align: center;
    color: white;
    font-size: 2rem;
}
a {
    display: flex;
    text-decoration-color: white;
    text-decoration: none;
    color: white;
}
.cards-container {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}
.card {
    width: 300px;
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.card-title {
    text-align: center;
    margin-bottom: 10px;
}
.card-image {
    width: 100%;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
}
.card-image:hover {
    opacity: 0.8;
}
.card-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
}
.card-info.open {
    max-height: 500px;
    margin-top: 10px;
}
.card-info p {
    margin: 0;
    padding-bottom: 10px;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    background-color: #ECE5F0;
}
