body{
    background-color: #3E6680;
    color: white;
}
.profiel {
    width: 80%;
    background-color: #4BB3FD;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: black;
}
.about-tekst{
    flex: 1;
}
.scholen {
    width: 80%;
    background-color: #4BB3FD;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: black;
}
.scholen-text {
    flex: 1;
}
.werken {
    width: 80%;
    background-color: #4BB3FD;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: black;
}
.werken-text {
    flex: 1;
}
.talen {
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
}
td, th {
    padding: 10px;
    border: 1px solid;
}
.Talentabel {
    width: 80%;
    background-color: #4BB3FD;
    margin: 50px auto;
    display: flex;
    align-items: center;
    gap: 40px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    color: black;
}
.talentabel {
    flex: 1;
}
.ronde-afbeelding {
    float: left;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 20px;
    height: auto;
    object-fit: cover;
    width: 200px;
    flex-flow: row wrap;
    display: flex;
    transition: all 150ms ease-in-out;
}
.ronde-afbeelding:hover {
    box-shadow: 0px 8px 30px #000000;
    width: 200px; height: auto;

}
h1, h2, h3 {
    text-align: center;
}
P {
    text-align: center;
}
.flex-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-list li {
    text-align: center;
    list-style-position: inside;
}
.talen {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid;
    border-collapse: collapse;
}
html {
    scroll-behavior: smooth;
}
footer {
    background-color: #00487C;
    color: white;
}
